# Bu faylni ".env" nomi bilan nusxalab, haqiqiy qiymatlarni kiriting.
# .env faylni HECH QACHON GitHub'ga push qilmang (u .gitignore'da bo'lishi kerak)

TELEGRAM_BOT_TOKEN=
TARGET_CHANNEL=@romanouzb
GEMINI_API_KEY=

TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_SESSION_STRING=
